.imagem-carrossel {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img1 {
    background-image: url("/camara-de-aula-brilhante-e-vazia.jpg");
}

.img2 {
    background-image:url("/vista-da-sala-de-aula-moderna-na-escola.jpg");
}

.img3 {
    background-image: url("/alunos-sabendo-resposta-certa.jpg")
}